@CHARSET "UTF-8";

body{
	text-align:center;
}

img{
	width:200px;
}

table tr th{
	border:10px solid #c0c0c0;
}

table{
	width:700px;
	margin:auto;
}

th{
	height:40px;
	width:40px;
}
td{
	height:80px;
	width:400px;
	text-align: center;
}
